bottle==0.12.19
bottle-websocket==0.2.9
cffi==1.14.3
click==7.1.2
dialite==0.5.3
Eel==0.14.0
flexx==0.8.1
future==0.18.2
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==0.4.17
Jinja2==2.11.2
joblib==1.0.0
livereload==2.6.3
lunr==0.5.8
Markdown==3.3.3
MarkupSafe==1.1.1
mkdocs==1.1.2
mkdocs-material==6.2.4
mkdocs-material-extensions==1.0.1
mkdocstrings==0.14.0
nltk==3.5
pscript==0.7.4
pycparser==2.20
pygame==2.0.0
Pygments==2.7.4
pymdown-extensions==8.1
pyparsing==2.4.7
pytkdocs==0.10.1
PyYAML==5.3.1
regex==2020.11.13
six==1.15.0
tornado==6.1
tqdm==4.56.0
webruntime==0.5.8
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.2.0
